.container
{
    display: flex;
    justify-content: space-between;
}

.button
{
    width: 100px;
    border: none;
    border-radius: 8px;
    padding: 14px;
    background-color: crimson;
    color: white;
    cursor: pointer;
}

.button:disabled
{
    background-color: rgba(220, 20, 60, 0.451);
    cursor: not-allowed;
}