.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.wrapper {
    background-color: var(--softBg);
    padding: 120px 185px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 10px;
}

.socialButton {
    padding: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.socialButton:first-child {
    background-color: #ff5555;
}

.socialButton:nth-child(2) {
    background-color: #111;
}

.socialButton:nth-child(3) {
    background-color: #087bea;
}

@media screen and (max-width: 768px) {

    .wrapper
    {
        padding: 50px 100px;
    }

    .socialButton
    {
        font-size: 16px;
    }
}

@media screen and (max-width: 640px) {

    .wrapper
    {
        padding: 35px;
    }

    .socialButton
    {
        font-size: 14px;
        font-weight: 400;
    }

}

@media screen and (max-width: 480px) {

    .socialButton
    {
        font-size: 10px;
    }

}