.container
{
    margin-top: 80px;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--softTextColor);
    border-top: 0.4px solid var(--softTextColor);
}   

.logo
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoText
{
    font-size: 24px;
}

.desc
{
    font-weight: 300;
}

.icons
{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.info
{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.links
{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 100px;
}

.list
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
}

.listTitle
{
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .links
    {
        gap: 50px;
    }
}

@media screen and (max-width: 768px) {
    .container
    {
        flex-direction: column;
        gap: 50px;
    }

    .links
    {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 640px) {
    .links
    {
        font-size: 14px;
    }
}